/* Columns container */
.cards-section .columns-wrapper .columns div {
    align-items: stretch;
}

/* Column */
.cards-section .columns-wrapper .columns div div {
    background-color: #fff;
    padding: 0 20px 20px;
}

/* Image */
.cards-section .columns-wrapper .columns div div picture {
    margin: 0 -20px 20px;
}

.cards-section .columns-wrapper .columns div div img {
    aspect-ratio: 3;
    object-fit: cover;
}

/* Label */
.cards-section .columns-wrapper .columns div div > p:not(.button-container) {
    color: #707377;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 12px;
}

/* Heading */
.cards-section .columns-wrapper .columns div div h2 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 12px;
}

/* Sub Heading */
.cards-section .columns-wrapper .columns div div h3 {
    color: #707377;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 12px;
}

