.webinar-section form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
}

.webinar-section form input[type="text"],
.webinar-section form input[type="email"],
.webinar-section form input[type="number"],
.webinar-section form select {
  width: 100%;
  max-width: 400px;
  padding: 18px 16px;
  border: 2px solid #b5c6e3;
  border-radius: 7px;
  font-size: 1.1rem;
  outline: none;
}

.webinar-section form input[type="text"]:focus,
.webinar-section form input[type="email"]:focus,
.webinar-section form input[type="number"]:focus {
  border-color: #1976d2;
}

.webinar-section form button[type="submit"] {
  width: 200px;
  padding: 14px 0;
  background: #1976d2;
  color: #fff;
  font-size: 1.15rem;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.webinar-section input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.webinar-section input[type="number"] {
  appearance: textfield;
}

.webinar-section p{
    text-align: center;
    color: #17408b;
    font-size: 2rem;
    margin-bottom: 8px;
    font-weight: 700;
    margin-top: 30px;
}