.webinar-section form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
}

.webinar-section input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.webinar-section input[type="number"] {
  appearance: textfield;
}

.webinar-section form input[type="text"],
.webinar-section form input[type="email"],
.webinar-section form input[type="number"],
.webinar-section form select {
  width: 100%;
  max-width: 400px;
  border: 1.5px solid #cfd8dc;
  border-radius: 8px;
  padding: 12px 14px;
  font-size: 1rem;
  outline: none;
  transition: border 0.2s;
  background: #f8fafc;
  margin-bottom: 1rem;
}

.webinar-section form input[type="text"]:focus,
.webinar-section form input[type="email"]:focus,
.webinar-section form input[type="number"]:focus {
  border-color: #1976d2;
}

.webinar-section form button[type="submit"] {
  background: #1976d2;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 14px;
  font-size: 1.1rem;
  font-weight: 700;
  margin-top: 5px;
  cursor: pointer;
  box-shadow: 0 2px 8px rgb(44 62 80 / 10%);
  width: 200px;
}

.webinar-section p{
    text-align: center;
    color: #17408b;
    font-size: 2rem;
    margin-bottom: 8px;
    font-weight: 700;
    margin-top: 30px;
    padding-top: 24px;
}

.webinar-section .webinar-success {
  display: none;
  color: green;
  margin-top: 1rem;
  text-align: center;
}