.download {
  max-width: 400px;
  margin: 2rem auto;
  padding: 1rem;
}

.download h2 {
  margin: 0 0 1rem;
  font-size: 1.5rem;
}

.download p {
  margin: 0 0 1.5rem;
  line-height: 1.4;
}

.download .download-error {
  display: none;
  color: red;
  margin-bottom: 1rem;
}

.download form {
  display: flex;
  flex-direction: column;
}

.download label {
  font-weight: bold;
  margin: 0.5rem 0 0.2rem;
  font-size: 1rem;
}

.download input[type="text"],
.download input[type="password"],
.download input[type="email"], select {
  width: 100%;
  max-width: 400px;
  border: 1.5px solid #cfd8dc;
  border-radius: 8px;
  padding: 12px 14px;
  font-size: 1rem;
  outline: none;
  transition: border 0.2s;
  background: #f8fafc;
  margin-bottom: 1rem;
}

.download button[type="submit"] {
  background: #1976d2;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 14px;
  font-size: 1.1rem;
  font-weight: 700;
  margin-top: 5px;
  cursor: pointer;
  box-shadow: 0 2px 8px rgb(44 62 80 / 10%);
}

.download button[type="submit"]:hover {
  background-color: #009adb;
}

.download .goal-container label {
    font-weight: normal;
}

.download .goal-container select {
    width: 100%;
}

.download .language-selection p {
    margin: 0;
    font-size: 1rem;
}

.download-container h2 {
    text-align: center;
    color: #17408b;
    font-size: 2rem;
    margin-bottom: 8px;
    font-weight: 700;
    margin-top: 30px;
    padding-top: 24px;
}
