/* stylelint-disable no-descending-specificity */
.header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  background-color: #000;
  color: #fff;
}

/* Header container */
.header .nav-wrapper nav {
  position: relative;
  max-width: 1200px;
  display: flex;
  align-items: center;
  column-gap: 45px;
  margin: 0 auto;
}

/* Hamburger menu icon */
.header .nav-wrapper nav .nav-hamburger {
  display: none;
}

/* Logo */
.header .nav-wrapper nav .nav-brand img {
  width: auto;
  height: 24px;
}

/* Header Level 1 */
.header .nav-wrapper nav .header-level-one {
  display: flex;
}

.header .nav-wrapper nav .header-level-one .button {
  display: flex;
  align-items: center;
  column-gap: 12px;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 4px solid transparent;
  padding: 20px 15px 18px;
}

.header .nav-wrapper nav .header-level-one > li:hover .button {
  color: #86bc25;
  border-color: #86bc25;
}

.header .nav-wrapper nav .header-level-one .nav-drop .button::after {
  content: '';
  width: 8px;
  height: 8px;
  border-right: 2px solid transparent;
  border-top: 2px solid transparent;
  border-color: #fff;
  transform: rotate(135deg);
}

.header .nav-wrapper nav .header-level-one >li:hover .button::after {
  border-color: #86bc25;
  transform: rotate(-45deg);
  margin-top: 6px;
}

.header .nav-wrapper nav .header-level-one > li:hover > .header-submenu-container {
  display: block;
}

.header .nav-wrapper nav .header-submenu-container {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  background-color: #121212;
}

/* Header Level 2 */
.header .nav-wrapper nav .header-level-two {
  width: 24%;
  background-color: #292B2C;
  padding: 40px 0 40px 40px;
}

.header .nav-wrapper nav .header-level-two .button-container {
  margin-bottom: 16px;
}

.header .nav-wrapper nav .header-level-two .button {
  justify-content: space-between;
  font-size: 20px;
  font-weight: 300;
  min-width: 180px;
  border: 0;
  color: #fff !important;
  padding: 8px 24px 8px 16px;
}

.header .nav-wrapper nav .header-level-two > li:not(:has(.button)) {
  justify-content: space-between;
  font-size: 20px;
  font-weight: 300;
  min-width: 180px;
  border: 0;
  color: #fff !important;
  padding: 8px 24px 8px 16px;
}

.header .nav-wrapper nav .header-level-two > li:hover .button {
  color: #86bc25 !important;
  background-color: #000;
}

/* If level 2 has level 3 */
.header .nav-wrapper nav .header-level-two > li:has(ul) .button::after {
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-color: #fff !important;
  transform: rotate(45deg) !important;
  margin-top: 6px;
}

.header .nav-wrapper nav .header-level-two > li:has(ul):hover .button::after {
  border-color: #86bc25 !important;
  transform: rotate(45deg);
}

/* If level 2 doesn't have level 3 */
.header .nav-wrapper nav .header-level-two > li:not(:has(> ul)) .button::after {
  border-color: #292B2C !important;
}

.header .nav-wrapper nav .header-level-two > li:not(:has(> ul)):hover .button::after {
  border-color: #000 !important;
}

.header .nav-wrapper nav .header-level-two > li:hover > .header-level-three {
  display: block;
}

/* Header Level 3 */
.header .nav-wrapper nav .header-level-three {
  display: none;
  position: absolute;
  top: 0;
  left: 24%;
  width: calc(100% - 24%);
  height: 100%;
  background-color: #121212;
  padding: 38px;
}

.header .nav-wrapper nav .header-level-three li:not(:last-child) {
  margin-bottom: 16px;
}

.header .nav-wrapper nav .header-level-three a {
  background-image: linear-gradient(#43b02a, #43b02a);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  transition: background-size .5s ease;
}

.header .nav-wrapper nav .header-level-three > li:hover a {
  background-size: 100% 1px;
}

/* Right side section(login, search) */
.header .nav-wrapper nav .nav-tools {
  display: none;
  margin-left: auto;
}
