/* stylelint-disable no-descending-specificity */

/* Footer navigation */
.footer .footer-nav {
  font-weight: 300;
  background-color: #000;
  color: #d0d0ce;
  padding: 80px 24px 64px;
}

@media (width >= 900px) {
  .footer .footer-nav {
    padding: 80px 56px 64px;
  }
}

.footer .footer-nav h3 {
  font-size: 40px;
  font-weight: 300;
  color: #f5f6f6;
  margin-bottom: 24px;
}

.footer .footer-nav .columns > div {
  row-gap: 40px;
  align-items: stretch;
}

.footer .footer-nav .columns > div h4 {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 16px;
}

.footer .footer-nav .columns > div div:first-child ul {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  font-size: 24px;
}

.footer .footer-nav .columns > div div:not(:first-child) ul {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  font-size: 16px;
}

.footer .footer-nav .columns > div div:first-child ul li a {
  background-image: linear-gradient(#43b02a, #43b02a);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .5s ease;
}

.footer .footer-nav .columns > div div:first-child ul li a:hover {
  background-size: 100% 2px;
}

.footer .footer-nav .columns a {
  background-image: linear-gradient(#43b02a, #43b02a);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  transition: background-size .5s ease;
}

.footer .footer-nav .columns a:hover {
  background-size: 100% 1px;
}

.footer .footer-nav .social-icon-widgets {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  row-gap: 8px;
  margin-top: 56px;
}

@media (width >= 900px) {
  .footer .footer-nav .social-icon-widgets {
    margin-top: 40px;
  }
}

.footer .footer-nav .social-icon-widgets h4 {
  font-size: 16px;
  font-weight: 300;
}

.footer .footer-nav .social-icon-widgets ul {
  column-gap: 16px;
  display: flex;
}

/* Footer TnC */
.footer .footer-tnc {
  background-color: #fff;
  padding: 16px 24px;
}

@media (width >= 900px) {
  .footer .footer-tnc {
    padding: 24px 56px;
  }
}

.footer .footer-tnc ul {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 32px;
  margin-bottom: 16px;
}

.footer .footer-tnc ul li {
  font-size: 12px;
  font-weight: 600;
}

.footer .footer-tnc p {
  font-size: 12px;
  margin-bottom: 12px;
}

.footer .footer-tnc p a {
  color: #007cb0;
}
