/* Footer navigation */
.footer .footer-nav {
  font-weight: 300;
  background-color: #000;
  color: #d0d0ce;
  padding: 80px 24px 64px;
}

.footer .footer-nav h3 {
  font-size: 40px;
  font-weight: 300;
  color: #f5f6f6;
  margin-bottom: 24px;
}

.footer .footer-nav .columns > div {
  row-gap: 40px;
}

.footer .footer-nav .columns > div h4 {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 16px;
}

.footer .footer-nav .columns > div div:first-child ul {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  font-size: 24px;
}

.footer .footer-nav .columns > div div:not(:first-child) ul {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  font-size: 16px;
}

@media (width >= 900px) {
  .footer .footer-nav {
    padding: 80px 56px 64px;
  }
}

/* Footer TnC */
.footer .footer-tnc {
  background-color: #fff;
  padding: 16px 24px;
}

@media (width >= 900px) {
  .footer .footer-tnc {
    padding: 24px 56px;
  }
}

/* stylelint-disable-next-line no-descending-specificity */
.footer .footer-tnc ul {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 32px;
  margin-bottom: 16px;
}

.footer .footer-tnc ul li {
  font-size: 12px;
  font-weight: 600;
}

.footer .footer-tnc p {
  font-size: 12px;
  margin-bottom: 12px;
}

.footer .footer-tnc p a {
  color: #007cb0;
}
