a.button.primary {
    position: relative;
    font-size: 16px;
    font-weight: 700;
}

a.button.primary:hover {
    text-decoration: underline;
}

a.button.primary::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    margin-left: 6px;
    top: 6px;
    border-top: 2px solid #707377;
    border-right: 2px solid #707377;
    transform: rotate(45deg);
}
